@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgWhite: #f3f4ee;
}

body.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1920px] px-[20px] md:px-[64px] lg:px-[64px] xl:px-[80px] 2xl:px-[120px];
  }
  .basic-transition {
    @apply transition-all duration-300 ease-in;
  }
}
